<tr>    
  <td>
    <%= image_tag( user_badge.badge_id.img_url, size: "20x30", alt: t('.alt_image_tag')) %>
  </td>
  <td>
    <%= user_badge.title %>
  </td>
  <td>
    <%= user_badge.rule %>
  </td>
</tr>