<tr>    
  <td>
    <%= image_tag( badge.img_url, size: "20x30", alt: t('.alt_image_tag')) %>
  </td>
  <td> 
    <%= badge.title %>
  </td>
  <td>
    <%= badge.rule %>
  </td>
  <td> 
    <%= badge.parameter %>
  </td>
</tr>