<div align="center">
  <br>
  <%= current_year %>
  <br>
  <%= github_url("vik1972", "testguru") %><br>
  Тест Гуру <br>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target:'blank' %>
  <p><%= link_to 'Обратная связь', new_feedback_path %></p>
</div>