<li>
  <%= answer.body %><br>
  <%= link_to t('admin.actions.show'), admin_answer_path(answer) %>
  <%= link_to t('admin.actions.edit'), edit_admin_answer_path(answer) %>
  <%= link_to t('admin.actions.delete'),
      admin_answer_path(answer),
      method: :delete,
      data: {confirm: t('admin.actions.confirm')} %>
</li>