<tr>
  <td><%= question.body %></td>
  <td><%= link_to t('admin.actions.show'), admin_question_path(question) %></td>
  <td><%= link_to t('admin.actions.edit'), edit_admin_question_path(question) %></td>
  <td><%= link_to t('admin.actions.delete'), 
          admin_question_path(question),
          method: :delete,
          data: {confirm: t('admin.actions.confirm')} 
      %>
  </td>
</tr>