<h1>Тесты</h1>

<p><%= link_to "Создать тест", new_test_path %></p>

<table>
  <tr>
    <th>Название теста</th>
    <th>Категория</th>
    <th>Уровень</th>
    <th>Кол-во вопросов</th>
    <th colspan="3">Действия</th>
  </tr>
  <%= render @tests %>
</table>

<br><br>

<p><%= render "shared/footer" %></p>